body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    color: white;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h1 h2 h3 h4 h5 h6 {
    margin: 0;
}

input[type="color"] {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: solid 1px #000; /*change color of the swatch border here*/
}

.center-inside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 10rem;
    margin: 5%;
}

.title {
    font-family: "Poor Story";
    font-size: 5rem;
    line-height: 100%;
}

.entry-button {
    font-size: 1.5rem;
}

.well-number-button {
    width: 100%;
}

.edit-button {
    position: fixed;
    top: 5%;
    left: 5%;
    height: 5%;
    width: 5%;
    background-color: darkgrey;
    opacity: 50%;
    border: 50%;
    z-index: 2;
}

.table-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.table {
    width: auto;
    height: auto;
    font-size: 10px;
    table-layout: fixed;
}

.table-origin {
    z-index: 10;
    background-color: black;
    border-radius: 0;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    border: none;
}

.cell {
    width: 4rem;
    height: 4rem;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.well {
    border: 2px solid white;
    border-radius: 50%;
}

.well-selected {
    animation-duration: 0.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fade-in; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fade-in;
    animation-duration: 0.4s;
}

.modal-content {
    font-family: "Poor Story";
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slide-in;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.4s;
}

.modal-header {
    font-size: 2rem;
    padding: 2px 16px;
    background-color: grey;
    color: white;
}

.modal-body {
    padding: 16px 16px;
    font-size: 1.5rem;
    color: black;
}

.palette {
    margin: 3px;
    padding: 0;
    z-index: 11;
    width: 2rem;
    height: 2rem;
}

@keyframes blink {
    from {
        border: 2px dotted;
    }
    to {
        border: 2px dashed;
    }
}

@-webkit-keyframes slide-in {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
