body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000000;
  color: white;
}
td {
  width: 4rem;
  height: 4rem;
  border: 1px solid white;
  border-radius: 4rem;
}

.App {
  font-family: sans-serif;
  background-color: #000000;
}

.header {
  border: none;
}