body {
    font-family: "Poor Story", cursive;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    color: white;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.center-inside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 7rem;
    height: 7rem;
}

.title {
    font-size: 5rem;
    line-height: 100%;
}

.well-number-button {
    width: 100%;
}

.table-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.table {
    width: auto;
    height: auto;
    font-size: 10px;
    table-layout: fixed;
}

.table-origin {
    z-index: 10;
    background-color: black;
    border-radius: 0;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    border: none;
}

.cell {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1rem;
}

.well {
    border: 2px solid white;
    border-radius: 50%;
}
